<!-- begin featured section -->
<div class="featured-section">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="featured__info">
          <div class="featured__head">
            <h2 class="featured__title">Check out the best articles</h2>
            <ul class="slider-controls list-reset" id="customize-controls" aria-label="Slider Navigation" tabindex="0">
              <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                <i class="ion ion-ios-arrow-round-back"></i>
              </li>
              <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
                <i class="ion ion-ios-arrow-round-forward"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="featured__slider animate">
    <div class="container">
      <div class="row">
        <div class="posts-slider">
        {{ range (where (where (where .Site.RegularPages "Type" "ne" "page") ".Params.featured" "=" true) ".Params.featured" "=" true) }}
          {{  if fileExists (print "layouts/partials/content-type/" .Type ".html")  }}
          {{ partial (print "content-type/" .Type ".html") (dict "ctx" . "template_type" "multiple") }}
          {{ else }}
          {{ partial "content-type/article.html" (dict "ctx" . "template_type" "multiple") }}
          {{ end }}
        {{ end }}
        </div>
      </div>
    </div>
  </div>

</div>
<!-- end featured section -->