{{ define "main" }}

{{ partial "hero.html" . }}

<div class="container">
  <div class="section__info">
    <div class="section__head">
      <h2 class="section__title">{{ .Site.Params.blog.blog__title | safeHTML }}</h2>
      {{ if .Site.Params.blog.blog__description }}
        <p class="section__description">{{ .Site.Params.blog.blog__description }}</p>
      {{ end }}
    </div>
  </div>

  <div class="row grid">
  {{ $allNonExcludedPages := where .Site.RegularPages "Params.excludefromindex" "==" nil }}
  {{ $allNonExcludedPagesNotTypePage := (where .Site.RegularPages "Type" "ne" "page" | intersect $allNonExcludedPages) }}
  {{ $featuredPosts :=  (where (where .Site.RegularPages "Type" "ne" "page") ".Params.featured" "=" true)    }}
  {{ $featuredPostRelPermalinks := $featuredPosts }}
  {{ $pagesToPaginate := where $allNonExcludedPagesNotTypePage "RelPermalink" "not in" $featuredPostRelPermalinks }}
  {{ $paginationLimit := index .Site.Params "paginate" | default 7 }}
  {{ $paginator := .Paginate $pagesToPaginate $paginationLimit }}
  {{ range $paginator.Pages }}
    {{ partial "article" . }}
  {{ end }}
  </div>
</div>

{{ partial "pagination.html" . }}

{{ partial "tags-section.html" . }}

{{ end }}